*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(152, 214, 248);
}
.box{
    margin: 8px 10px;
    display: flex;
    justify-content: center;
}
.box-img{
    margin: 30px;
    width: 255px;
    border-radius: 10px;
    height: 314px;

}
#load-btn{
    padding: 12px 20px;
    font-size: 20px;
    background-color: rgb(245, 14, 103);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#load-btn:hover{
    background-color: rgb(182, 59, 219);
    transition: 0.5s;
    transform: translateY(-3px);
}