*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 105, 105);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.box{
    background-color: rgb(242, 170, 170);
    width: 30pc;
    height: 25pc;
    flex-direction: column;
    border-radius: 9px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}
.inner-box{
    margin-top: 20%;
    margin-left: 20px;
}
#textarea{
    resize: none;
    width: 90%;
    height: 100px;
    padding: 3px 5px;
    margin-top: 13px;
    font-size: 18px;
}
.mainContent{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}
.h2{
    margin-right: 40px;
}
.h1{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(93, 91, 91, 0.734);
}
#sp1{
    color: rgb(103, 49, 240);
}
#sp2{
color: rgb(253, 61, 61);
}